*{
	margin:0;
	padding: 0;
	font-size: 18px;
	font-family: "Microsoft YaHei",Arial,sans-serif,STHeiti;
	text-align:center;
}
.windows{
	margin:10% auto auto auto;
	width:560px;
	background-color: #fff;
	position: relative;
	display: table;
	border-radius: 5px;
}
.content{
	margin:60px 50px 0px 50px;
}
.content p{
	margin-top: 15px;
}
.hitokoto{
	text-align:left;
	font-size:1.5em;
	text-indent: 1.2em;
	letter-spacing: 1.3px;
	font-weight: 500;
}
.from{
	font-size:.9em;
	float:right;
}
.progress-con{
	position: absolute;
	bottom: 35px;
	width: 64%;
	left: 20px;
	height: 3px;
	overflow: hidden;
}
.progress-time{
	position: absolute;
	height: 100%;
	width: 100%;
	transition: left 12s;
	-webkit-transition: left 12s;
	-o-transition: left 12s;
	-ms-transition: left 12s;
	-moz-transition: left 12s;
}
.button{
	margin-top: 60px;
}
.sub{
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 4px;
	height: 2.4em;
	width: 120px;
	font-size: .8em;
	float:right;
	margin: 0 50px 20px auto;
	color:#fff;
}
a{
	margin-top: 20px;
	display: inline-block;
	color:#fff;
	font-size: .7em;
	text-decoration: none;
}